.cart-item-container
    background-color: #fff
    border-radius: 5px
    max-width: 260px
    min-height: 420px
    height: auto
    display: flex
    gap: 4px
    flex-direction: column
    position: relative
    .img-container
        position: relative
        width: fit-content
        border-radius: 4px
        background-color: #e6e6e6
        overflow: hidden
        .item-tag
            position: absolute
            color: #fff
            border-radius: 5px
            text-align: center
            width: fit-content
            padding: 4px 12px
            top: 12px
            left: 12px
        .new-item
            background-color: #00ff66

        .sale-item
            background-color: #db4444

        img
            width: 260px
            height: 260px

        .add-to-card-text
            position: absolute
            bottom: -60px
            right: 0
            left: 0
            height: auto
            text-align: center
            padding: 12px
            color: #fff
            background-color: #000
            font-size: 20px
            font-weight: 400
            cursor: pointer

    .item-name
        width: 260px
        font-weight: 500
        font-size: 20px
        display: inline-block
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        cursor: pointer

    .price-container
        display: flex
        flex-direction: row
        font-weight: 500
        .sale-price
            color: #db4444
        .price
            margin-left: 0.5rem
            text-decoration: line-through
            color: #808080
    .review
        display: flex
        flex-direction: row
        align-items: center
        .review-number
            margin-left: 1rem
            font-weight: 500
            color: #808080

.cart-item-container
    .img-container:hover
        .add-to-card-text
            transition-duration: 250ms
            transform: translateY(-60px)
.not-on-sale>.price-and-stars>.review-star
    margin-left: 8px

.product-icon-container
    top: 5px
    right: 5px
    position: absolute
    .product-icon
        display: flex
        align-items: center
        justify-content: center
        height: 1.6rem
        width: 1.6rem
        border-radius: 50%
        background-color: #fff
.color-picker-container
    min-height: 24px
    padding: 0 !important
    .color-pick
        height: 20px
        width: 20px
        background-color: red
        border-radius: 50%
        cursor: pointer
