//CSS Main

//CSS Slider    
.slide
    flex-grow: 1
    height: 500px
    .carousel-inner
        img
            height: 500px

.content-container
    .head-content
        padding: 0 10%
        justify-content: space-between
        display: flex
        display-direction: ltr

        //CSS Sidebar
        .sidebar-container
            padding-top: 28px
            height: fit-content
            width: 300px
            border-right: 1px solid #ccc
            .sidebar-item
                color: #000
                text-decoration: none
                font-size: 20px
                padding: 24px 24px 4px 0
                display: flex
                justify-content: space-between
                align-items: center
                font-weight: 500
        //CSS Slider
        .slider-container
            width: 100%
            margin: 52px 0 36px 60px

    .body-content
        .list-item-sale
            margin: 12px 0 0 10%

        .list-category-item
            margin: 12px 10% 60px
            overflow: hidden
        .list-best-selling-item
            margin: 12px 10% 60px
            overflow: hidden
        .list-our-product
            margin: 12px 10% 60px
            overflow: hidden
        .new-arrival-product
            margin: 0 10% 60px
            overflow: hidden
            .row
                .col-md-6
                    position: relative
                    .first-column
                        position: relative
                        width: auto
                        height: 70vh
                        background-color: black
                        div
                            position: absolute
                            width: 40%
                            bottom: 8%
                            left: 8%
                            h1
                                color: #fff
                            p
                                color: #fff
                            a
                                color: #fff
                                font-weight: 500

                    .row
                        .top-right-banner
                            width: 100%
                            height: 100%
                            position: relative
                            background-color: black
                            div
                                position: absolute
                                width: 50%
                                bottom: 8%
                                left: 4%
                                h1
                                    color: #fff
                                p
                                    color: #fff
                                a
                                    color: #fff
                                    font-weight: 500

                        .col-md-6
                            padding: 0
                    .row-1-column-2

                    .row-2-column-2

                        img
                            position: absolute
                            inset: 10%
                            width: 80%
                            height: 80%
                        .first-column-bottom-right
                            width: 100%
                            height: 100%
                            position: relative
                            background-color: black
                            padding-right: 4px
                            overflow: hidden
                            div
                                position: absolute
                                width: 90%
                                bottom: 8%
                                left: 4%
                                h1
                                    color: #fff
                                p
                                    color: #fff
                                a
                                    color: #fff
                                    font-weight: 500

                        .second-column-bottom-right
                            width: 100%
                            height: 100%
                            position: relative
                            background-color: black
                            overflow: hidden

                            div
                                position: absolute
                                width: 90%
                                bottom: 8%
                                left: 4%
                                h1
                                    color: #fff
                                p
                                    color: #fff
                                a
                                    color: #fff
                                    font-weight: 500

            // .row > .col-6
            //     height: 600px
            // .row > .col-6 >.row
            //     height: 300px
            // .row > .col-6 >.row>.top-right-banner
            //     width: 100%
            //     height: auto
            //     background-color: black
            //     margin-bottom: 6px
            // .row > .col-6 >.row>.col-6
            //     padding: 0
            //     .first-column-bottom-right
            //         width: auto
            //         background-color: black
            //         height: 100%
            //         margin-top: 6px
            //         margin-right: 6px
        .guarantee-banner
            .container
                width: 100%

    .foot-container
        margin-top: 120px
        padding: 100px 10% 0
        width: 100%
        height: 480px
        background-color: #000

.App-container .header-container .container-fluid .navbar-nav .active
    color: #000
    div
        border-bottom: 2px solid #5f5f5f

hr
    margin: 0 10%

.btn-view
    margin: 60px 0
    display: flex
    justify-content: center
    width: 100%
.arrow-return-head
    width: fit-content
    position: fixed
    bottom: 8%
    right: 4%
.carousel-item
    img
        width: 100%
@media screen and (max-width: 768px)
    .second-column
        display: none !important
