//CSS Main

//CSS Slider    
.slide
    width: 1200px
    height: 500px
    .carousel-inner
        img
            height: 500px

.content-container
    .head-content
        padding: 0 140px
        justify-content: space-between
        display: flex
        display-direction: ltr

        //CSS Sidebar
        .sidebar-container
            padding-top: 28px
            height: fit-content
            width: 300px
            border-right: 1px solid #ccc
            .sidebar-item
                color: #000
                text-decoration: none
                font-size: 20px
                padding: 24px 24px 4px 0
                display: flex
                justify-content: space-between
                align-items: center
                font-weight: 500
        //CSS Slider
        .slider-container
            width: fit-content
            margin: 52px 0 36px 60px

.App-container .header-container .container-fluid .navbar-nav .active
    color: #000
    div
        border-bottom: 2px solid #5f5f5f
