.footer-information
    >div
        height: auto
        display: flex
        flex-direction: column
        gap: 8px
        max-width: 217px
        input
            background-color: black
            height: 48px
.fifth-column>p
    color: #dfdfdf
    font-size: 14px

.img-info-container
    width: 100%
    gap: 3px
    .qr-code-img
        width: 40%
        height: auto
        img
            height: auto
            width: -webkit-fill-available
    .appstore-chplay-code-img
        gap: 3px
        width: 60%
        img
            height: auto
            width: -webkit-fill-available
        .appstore-img-container
